//import global sass variables https://stackoverflow.com/questions/72958468/sass-not-finding-correct-filepaths
@use "../global-styles.scss";

.navbar-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: row; //flex horizontal
    align-items: center; //kasih ke tengah secara vertical
    justify-content: space-between; //kasih ke tengah secara horizontal
    background-color: transparent;
    padding: 0px 120px;

    .navbar-logo{
        height: 36px;
        width: 144px;
        // background-color: blue
        img{
            height: 100%;
        }
    }

    a{
        text-decoration: none;
        text-decoration-line: none;
        color: global-styles.$primary-gray;
        padding: 0px 24px;
    }
    a:hover{
        font-weight: bold;
        color: global-styles.$brand-violet;
    }
    }